{% extends "::base.html.twig" %}

{% block body %}
    <div class="main-wrapper">
        <div class="wrapper">
            <div class="auth-content">
                <div class="center-block security-form">
                    <h1>{{ 'title.changePassword'|trans }}</h1>

                    {% include "GameBundle:Common:message.html.twig" %}

                    {% if headerTip is defined %}
                        <h2>{{ headerTip }}</h2>
                    {% endif %}

                    {{ form_start(form) }}
                    {{ form_rest(form) }}
                    <input type="submit" class="btn auth-btn big-button" value="{{ 'btn.save'|trans }}"/>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
        <!-- .wrapper -->
    </div>
{% endblock %}